.cbp-main-div{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:-50rem;
}

.cbp-top{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    gap: 1rem;
}

